*{
    font-family: 'Montserrat', sans-serif;
}
#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "navBar"
        "sideNavBar"
        "user-location"
        "main"
        "footer" ;
        
        
}

@media screen and (min-width: 40em) { 
    #wrapper {
        grid-template-columns: auto 1fr;
        grid-template-areas: 
            "navBar navBar"
            "sideNavBar user-location"
            "sideNavBar  main"
            "footer footer" ;
    }
}

@media (min-width: 60em) {
	#wrapper {
		grid-template-columns: auto 1fr 1fr;
		grid-template-areas: 
		"navBar navBar navBar"
        "sideNavBar user-location user-location"
		"sideNavBar  main  main"
		"footer footer footer";
	}
}


.user-location {
    grid-area: user-location;
    background-color: #f2f2f2;
    box-shadow: 0 5px 5px -5px #333;
	border: 1px solid #ccc;
    
}
.navBar {
    grid-area: navBar;
    z-index: 1;
}

.sideNavBar {
    grid-area: sideNavBar;
    background-color: rgb(56, 53, 53);
    min-width: 13em;
    transition: 0.5s; /* 0.5 second transition effect to slide in the */
}

main {

       grid-area: main;
       min-height: 100vh;
       transition: 0.5s;
       margin-top: 3em;
       margin-bottom: 3em;
       justify-content: center;
}
#main-id{
    display: flex;
}

.footer {
    grid-area: footer;
    padding: 30px;
    background-color:  rgb(56, 53, 53);
    margin-top: auto;
    color: white;
    
    
}
body{
    /* background: linear-gradient(rgb(77, 159, 241), rgb(28, 74, 117));  */
    background-color: lightgrey;
    
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}